<app-content-section [title]="(course$ | async)?.courseName">
  <p>
    Course Id: {{(course$ | async)?.courseID}}
    <br/>
    Course Description: {{(course$ | async)?.description}}
  </p>
</app-content-section>

<app-content-section title="Projects"
                     [hasButtons]="true"
                     [buttons]="[addProjectButton]">
  <app-select-table [dataSource]="projects$ | async"
                    [displayedColumns]="projectInfo"
                    (selectedItem)="onProjectSelected($event)">

  </app-select-table>
</app-content-section>

<app-content-section title="Users"
                     [buttons]="[addUsersButton]"
                     [hasButtons]="true">
  <app-select-table [dataSource]="users$ | async"
                    [displayedColumns]="userInfo">

  </app-select-table>
</app-content-section>
