<div class="loginContainer">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="attemptLogin()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput placeholder="Ex. SteveW"/>
      <mat-error *ngIf="usernameHasError()">Username is required.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput/>
      <mat-error *ngIf="passwordHasError()"></mat-error>
    </mat-form-field>
    <br>
    <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
  </form>
</div>
