<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="linkItem" routerLink="">
        <img [src]="homeLogo"
             class="homeLogo"
             alt="Home Logo"
             aria-label="Home Logo"/>
      </span>
      <span class="linkItem" routerLink="dashboard">Dashboard</span>
      <span class="fill-remaining-space"></span>
      <span>
          <button *ngIf="!isAuthed()"
                  aria-label="icon-button with login icon"
                  color="primary"
                  mat-flat-button
                  routerLink="auth/login">
              <span>Login</span>
              <mat-icon>exit_to_app</mat-icon>
        </button>

        <button *ngIf="isAuthed()"
                aria-label="icon-button with login icon"
                color="primary"
                mat-flat-button
                (click)="signOut()"
                routerLink="/auth/login">
              <span>Logout</span>
              <mat-icon>input</mat-icon>
          </button>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
