<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container class="mat-column-select"
                matColumnDef="select"
                (click)="cellClicked($event)">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxAriaLabel()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxAriaLabel()">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container *ngFor="let column of columns" [matColumnDef]="column">
    <mat-header-cell *matHeaderCellDef>{{column}}</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row[column]}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"
           (click)="cellClicked(row)">
  </mat-row>
</mat-table>
